.login-container{
  display: flex;
  width: 100vw;
  height: 100vh;
  background-color:#7785db ;
  align-items: center;
  justify-content: center;

}
.login-content-container{
  display: flex;
  flex-direction:column;
  align-items: center;
  justify-content: center;
  width: 552px;
  height: 720px;
  background-color: white;
  border-radius: 24px;
}

.login-title{
  max-width: 320px;
  align-items: center;

}

.login-button-container{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 452px;
  margin-top:16px
}
@media screen and (max-width:420px){
  .login-content-container{
    max-width:320px ;
    max-height: 600px;
    padding: 12px;
  }
  .login-button-container{
    max-width: 300px;
    margin-top:8px;
  }

  .home-screen-title{
    max-width: 300px;

  }

}
@media screen and (max-width:820px){
  .login-container{
    overflow-x:hidden;
    overflow-y:hidden;
  }


}
